

<header class="masthead text-center text-white">
        <div class="masthead-content">
<div class="signup-form">
<h1>Welcome User Register Here</h1>
<h2>Register</h2>
		<p class="hint-text">Create your account. It's free and only takes a minute.</p>
        <div class="form-group">
			
                <div class="col-xs-12"><input  #n [ngClass]="{'form-control':'true' }" placeholder="UserName" type="text" [(ngModel)]="model.userName" /></div>
                <div [ngStyle]="{'background-color':'palegreen','color':'blue'}"  *ngIf="n.value.length>=4 && n.value.match('[a-zA-Z\\s]');else name">Valid UserName</div>
                <ng-template #name ><p *ngIf="n.value.length!=0 " [ngStyle]="{'background-color':'red','color':'white'}">UserName must have atleat 4 charecters and must not contain other than alphabets</p></ng-template>	        
		       	
        </div>
        <div class="form-group">
        	<input #u [ngClass]="{'form-control':'true' }" placeholder="UserPassword" type="password" [(ngModel)]="model.userPassword"/>
            <div [ngStyle]="{'background-color':'palegreen','color':'blue'}"  *ngIf="u.value.length>=8;else password">Valid password</div>
            <ng-template #password ><p *ngIf="u.value.length!=0 " [ngStyle]="{'background-color':'red','color':'white'}">Password must have ateast 8 charecters</p></ng-template>
        </div>
		<div class="form-group">
            <input #p class="form-control" placeholder="Phone Number" [ngClass] type="string" [(ngModel)]="model.phoneNo"/>
            <div [ngStyle]="{'background-color':'palegreen','color':'blue'}"  *ngIf="p.value.match('\\d{10}')&&p.value.length==10;else number">Valid Number</div>
            <ng-template #number ><p *ngIf="p.value.length!=0 " [ngStyle]="{'background-color':'red','color':'white'}">Numbers must have 10 digits</p></ng-template>
       </div>
		<div class="form-group"
            [ngStyle]="{}"><input class="form-control" #t placeholder="confirmpassword" type="password" (input)="confirmpassword=t.value"/>
            <div [ngStyle]="{'background-color':'red','color':'white'}"  *ngIf="(confirmpassword!=''&&confirmpassword!=model.userPassword)">
                    password and confirm password must be same
            </div>
        </div>        
		<div class="form-group">  
            <input type="button" [disabled]="validate()" class="btn btn-success  btn-lg btn-block" value="Register" (click)="registerUser()"/>
            <div [ngStyle]="{'background-color':'red','color':'white'}"  *ngIf="registrationStatus=='registration not successfull User Already exists'">
                User Already Exists Please login
            </div>
        </div>
</div>
</div>
</header>